body
{
  background-image:url('omfgdogs.gif');
}

p
{
  position:absolute;
  bottom:12px;
  right:10px;
  font-family:"Arial";
  font-weight:bold;
  color:white;
  font-size:20px;
}

a:link
{
  color:#FFFFFF;
}